  @media (hover:none) {
    input-num::part(buttons) { display:none }
  }
  input-num {
    font-family:inherit;
    background-color:#FFF; /* for .beep background opacity < 1*/
    border: 0.0625rem solid #0002;
    outline:none;
  }
  input-num:hover:not(:focus) {
    border-color: #999;
  }
  input-num:focus {
    border-color: #111;
  }
  input-num.OoB:focus {   /* Out of Bounds = > max or < min*/
    border-color:#555;
  }
  input-num.NaN:focus {
    border-color:#C00;
  }
  input-num.beep:focus {
    filter:blur(0.5px);
  }
  input-num.OoB:focus::part(input) {
    background-color:rgb(255 255 239 / 0.35); /* a very pale yellow */
  }
  input-num.NaN:focus::part(input) {
    background-color:rgb(255 240 245 / 0.5);  /* lavenderblush */
  }
  input-num.beep:focus::part(input) {
    background-color:rgb(255 240 245 / 0.25); /* background-opacity does not exist */
    color:#A02;
  }
  input-num::part(border) {   /* left border of controls */
    stroke:#0002;           /* matches element border  */
    stroke-width:0.0625rem;
  }
  input-num:disabled::part(input) {
    color: var(--medium-gray);
  }
  input-num::part(input),
  input-num::part(input):disabled {
    border:       none;       /* handled by <input-num> parent */
    outline-style:none;       /* initial padding-right is baseline for javascript: */
    padding: 0 0.125rem 0.0625rem 0.125rem;
    color: inherit;
    background-color:transparent; /* same as default, afaik */
  }