@font-face { /* because user can select bold & italic for input-num */
  font-family:"Roboto Mono";
  font-weight:700;
  src:url("/fonts/RobotoMono.ttf") format("truetype");
}
@font-face {
  font-family:"Roboto Mono";
  font-weight:400;
  font-style:italic;
  src:url("/fonts/RobotoMono.ttf") format("truetype");
}
@font-face { /* because user can select bold for input-num */
  font-family:"Roboto Mono";
  font-weight:700;
  font-style:italic;
  src:url("/fonts/RobotoMono.ttf") format("truetype");
}
@media (height < 340px) {
  * { font-family:monospace; }
}
@media (hover:none) {
  input-num::part(buttons) { display:none }
}
select     { margin-left: 0.25rem; }
check-box  { margin-right:1rem }
#accounting,
#keyboards { margin-right:0 } /* exceptions to check-box margin */

#max, #min, #step, #delay, #interval {
  text-align:right
}