<html>
  <body>
    <template>
      <div style="display:flex; flex-direction:column; align-items:center;">
        <pre part="on">ON</pre>
        <svg part="toggle" viewbox="0 0 227 197">
          <defs>
            <image id="on"      href="toggle-hex-on.png"   height="100%"/>
            <image id="off"     href="toggle-hex-off.png"  height="100%"/>
            <image id="neither" href="toggle-hex-null.png" height="100%"/>
          </defs>
          <use id="use" part="switch" href="#"/>
        </svg>
        <pre part="off">OFF</pre>
      </div>
    </template>
  </body>
</html>