@font-face {
  font-family:"Roboto Mono";
  font-weight:400;
  src:url("/fonts/RobotoMono.ttf") format("truetype");
}
* {
  font-family:"Roboto Mono", monospace;
  font-size:1rem;
  color:#272727;
}
label {
  margin-right:0.25rem;
}
p {
  font-family:sans-serif;
  white-space:nowrap;
  margin-bottom:0;
}
p.header {
  font-weight:bold;
  margin-top:0;
}
span[id] { min-width:5ch }

button    {
  width:  1rem;
  height: 1rem;
  padding:0;
  margin: 0 0.375rem 0.1875rem 0.75rem;
  border:none;
  background-image:url("../clipboard.png");
  background-size:contain;
  background-repeat:no-repeat;
}
button:hover {
  background-image:url("../clipboard-hover.png");
}
button:active {
  background-image:url("../clipboard-active.png");
}
select    {
  border-color:#0002;
}
select:disabled, .disabled {
  opacity:1;
  color:gray;
  background-color:transparent;
}

.info    { margin:0 0 0 0.25rem }
.warning { color:#800; }
.italic  { font-style:italic }
.copied {
  opacity:0;
  font-size:0.875rem;
  color:#777;
  padding-bottom:0.1875rem;
  margin-top:0;
}
.col {
  display:flex;
  flex-direction:column;
}
.row {
  display:flex;
  align-items:center;
  margin-top:0.125rem;
}
.mt1-2  { margin-top:0.5rem }
.mb3-16 { margin-bottom:0.1875rem }
.between {
  justify-content:space-between;
}
.separator { margin-top:0.75rem }
.chk-val { margin-top:0.25rem }
div.header {
  align-items:stretch;
  align-self: stretch;
  margin-top:  0.1875rem;
  margin-right:0.125rem;
}
.html { /* the only elements in this page that stretch */
  width:328px;
  font-family:monospace;
  padding:0.25rem 0.5rem;
  border:1px solid #000;
  background-color:#444;
  color:white;
}
@media (width < 360px) {
  .html { max-width:288px; }
}