label {
  margin-right:0.25rem;
}
span[id] { min-width:5ch }
.chk-val { margin-top:0.25rem }
.separator {
  color:#787;
  margin-bottom:0.5rem;
}
div.header {
  margin-top:0.1875rem;
}
.html { /* the only elements in this page that stretch */
  width:328px;
}
@media (width < 360px) {
  .html { max-width:288px; }
}